.note {
  width: 100%;
  margin: auto;
}
h3 {
  padding: 6px 8px 6px 8px;
  width: 100%;
  max-width: 90%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  color: #6c757d;
}
p {
  width: 100%;
  max-width: 90%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 6px 8px 6px 8px;
  color: #6c757d;
}
