.add-note-form {
  gap: 10px;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 15px;
}

.title-input, .content-input {
  padding: 5px 10px;
  border: var(--border);
}

.title-input::placeholder, .content-input::placeholder {
  color: var(--gray);
}

.title-input:focus, .content-input:focus {
  border-color: var(--lightPurple);
}

.submit-button {
  background-color: var(--darkestPurple);
}

.submit-button:hover {
  background-color: var(--mediumPurple);
}

